* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    padding: 0px 10% 20px 10%;
  }

  .form {
    text-align: center;
    padding-top: 200px
}

.account-form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}

.form-info {
  display: flex;
  flex-direction: column;
}

.form-message {
  color:#372306;
  padding-bottom: 40px;

}

input[type=text] {
  background-color: #F4C0A4;
  border: none;
  padding: 2px;
  color:#372306;
}

input[type=email] {
  background-color: #F4C0A4;
  border: none;
  padding: 2px;
  color:#372306;
}

input[type=password] {
  background-color: #F4C0A4;
  border: none;
  padding: 2px;
  color:#372306;
}

.form-input {
margin-top: 15px;
font-size: 16px;
width: 22vw;
color:#372306;
}

.submit-btn {
  margin-top: 15px;
  border: 1px solid #372306;
  height: 5vh;
  width: 22vw;
  background-color: #C67C58;
  color: #372306;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  text-decoration: none;
  outline: none;
}

.submit-btn::before, .submit-btn::after {
  position: absolute;
  background: #F4C0A4;
  z-index: -1;
  transition: 1s;
  content: '';
}

.submit-btn::before {
  height: 5vh;
  width: 22vw;
}

.submit-btn::after {
  height: 5vh;
  width: 22vw;
}

.noselect {
  text-decoration: none;
}

.submit-btn:hover::before {
  width: 0px;
  background: #C67C58;
}

.submit-btn:hover::after {
  height: 0px;
  background: #F4C0A4;
}

.submit-btn:hover {
  background: #F4C0A4;
}