* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    padding: 20px 15%;
  }

  div.form {
    display: block;
    text-align: center;
}
#signin-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}