
.patient-profile-btn {
    text-decoration: transparent;
    background-color: rgb(230,250,253);
    border: 1px solid rgb(58, 107, 109);
  padding: 1.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid lighten(gray, 70%);
}

.patient-profile-btn:hover {
    box-shadow: rgb(58, 107, 109);
    transform: scale(1.03);
}

.patient-profile-btn:active {
    
    box-shadow: rgb(58, 107, 109);
    transform: scale(.98);
}

.patient-list-div {
    padding: 150px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.my-patients-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(58, 107, 109);
    background-color: rgb(169, 214, 216);
    margin: 10px;
    width: 20vw;
    align-items: center;
}

.patient-profile-btn {
    border-radius: 25px;
    border-color:rgb(116, 119, 122);
    padding: 5px;
}