.nav-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 80vw;
  height: 9vh;
  background: rgb(230,250,253);
  background: linear-gradient(90deg, rgba(230,250,253,1) 35%, rgba(251,236,210,1) 100%);
  align-items: center;
  border: transparent;
}

.logo {
  display: flex;
  color:rgb(70, 135, 136);
  font-size: 40px;
}

.nav-ul {

  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color:rgb(70, 135, 136);
}

@media screen and (max-width: 1200px) {
  .nav-ul {
    font-size: 18px;
  }
  .logo {
    font-size: 35px;
  }
  .nav-ul li {
    padding: 0px;
  }
}

@media screen and (max-width: 900px) {
  .nav-ul {
    font-size: 15px;
  }
  .logo {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .nav-bar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 13vh;
  }
  .nav-ul {
    font-size: 14px;
  }
  .logo {
    font-size: 20px;
  }
  .hover-style, .welcome-msg {
    margin: 10px 10px 0px 10px;
  }
}

@media screen and (max-width: 700px) and (max-height: 600) {
  .nav-bar {
    height: 19vh;
  }
}

@media screen and (max-width: 700px) and (max-height: 450px) {
  .nav-bar {
    height: 19vh;
  }
}

@media screen and (max-height: 600px) {
  .nav-bar {
    height: 12vh;
  }
}

@media screen and (max-height: 450px) {
  .nav-bar {
    height: 15vh;
  }
}

@media screen and (max-height: 350px) {
  .nav-bar {
    height: 18vh;
  }
}

.welcome-msg{
  height: 5vh;
  width: 11vw;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px 30px 10px 0px;
  display: inline-block;
  text-decoration: none;
  color:rgb(70, 135, 136);
}

.hover-style {
  height: 5vh;
  width: 11vw;
  color: rgb(70, 135, 136);
  cursor: pointer;
  align-items: center;
  justify-content:space-between;
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
}

.noselect {
  position: relative;
  margin-bottom: 5px;
  display: inline-block;
  text-decoration: none;
}

.noselect::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(70, 135, 136);
  transition: width .5s;
}

.noselect:hover::after {
  width: 100%;
}