.table-page-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table { 
    width: 80vw; 
	border-collapse: collapse; 
	color:rgb(58, 107, 109);
    border-collapse: collapse;
    margin-top: 80px;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
}

th { 
    background:rgb(169, 214, 216);
    color: rgb(58, 107, 109);
    font-weight: bold;
    padding: 6px; 
    border: 1px solid rgb(58, 107, 109);
    text-align: center; 
}

td { 
    padding: 6px; 
    border: 1px solid rgb(58, 107, 109);
    text-align: left; 
    width: 20vh;
}

.table-btns {
    background-color:transparent;
    border: transparent;
    padding: 0px 4px;
    color: rgb(58, 107, 109);
    border-radius: 3px;
    height: 5vh;
    width: 8vw;
    cursor: pointer;
    align-items: center;
    justify-content:space-between;
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.table-header {
    padding-top: 100px;
    color: rgb(58, 107, 109);
}

.table-header-my-patients {
    padding-top: 100px;
    color: rgb(58, 107, 109);
}

.doc-display-doc-notes {
    width: 30%;
}

.doc-display-doc-edit, .doc-display-doc-delete, .doc-display-doc {
    width: 7%;
}

.display-doc-btns {
    background-color: transparent;
    border: transparent;
    padding: 0px 25px;
    color: rgb(58, 107, 109);
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
}

.doc-add-file-btn{
    margin-top: 10px;
    background-color:rgb(169,214,216);
    border: 1px solid rgb(58, 107, 109);
    padding: 0px 4px;
    color: rgb(58, 107, 109);
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
}

.my-patients-header-profile {
    width: 10%;
    background:rgb(169, 214, 216);
    color: rgb(58, 107, 109);
    font-weight: bold;
}