.table-page-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table { 
    width: 80vw; 
	border-collapse: collapse; 
	color:#251804;
    border-collapse: collapse;
    margin-top: 80px;
}

thead {
    background-color: #C67C58;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #F4C0A4; 
}

th { 
    background:#C67C58;
    font-weight: bold;
    padding: 6px; 
    border: 1px solid #C67C58;
    text-align: center; 
}

td { 
    padding: 6px; 
    border: 1px solid #F4C0A4;
    text-align: left; 
    width: 20vh;
}

.table-btns {
    background-color:transparent;
    border: transparent;
    padding: 0px 4px;
    border-radius: 3px;
    height: 5vh;
    width: 10vw;
    cursor: pointer;
    align-items: center;
    justify-content:space-between;
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.table-header {
    padding-top: 100px;
    color: #251804;
}

.table-header-my-patients {
    padding-top: 100px;
}

.doc-display-doc-notes {
    width: 30%;
}

.doc-display-doc-edit, .doc-display-doc-delete, .doc-display-doc {
    width: 7%;
}

.display-doc-btns {
    background-color: transparent;
    border: transparent;
    padding: 0px 25px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
}

.doc-add-file-btn{
    margin-top: 10px;
    background-color:#F4C0A4;
    border: 1px solid #F4C0A4;
    padding: 0px 4px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    text-decoration: none;
}

.patients-header-profile {
    width: 10%;
    background:#C67C58;
    font-weight: bold;
}

.patients-header-birthdate {
    width: 25%;
}

.patients-header-name {
    width: 30%;
}

.already-added-msg {
    text-align: center;
}